.container .intro{
  margin-left: 25%;
  margin-right: 25%;
}
.center-header {
  text-align: center;
}

.intro img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 150px;
}
.intro blockquote p {
  text-align: center;
}
.logo-format {
  width: 25px;
}
.panel .panel-heading {
  background-color: #EfFCDB;
}
.image-format {
  width: 200px;
  float: left;
  margin: 5px;
  border-radius: 4px
}
.important-font {
  font-weight: bolder;
  text-decoration: underline;
}
body {
  background-image: url(https://subtlepatterns.com/patterns/sayagata-400px.png);
  font-family: sans-serif;
}
