.container .intro{
  margin-left: 25%;
  margin-right: 25%;
}
.center-header {
  text-align: center;
}
.intro h2 {
  text-transform: uppercase;
}
.intro img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
.intro p {
  text-align: center;
}
body {
   background-image: url(https://subtlepatterns.com/patterns/sayagata-400px.png);
   font-family: sans-serif;
}
.logo-format {
  width: 25px;
}
.panel .panel-heading {
  background-color: #EfFCDB;
}
.panel .panel-body{

}
