.container .intro{
  margin-left: 25%;
  margin-right: 25%;

}
h3 {
  text-align: center;
}
.intro h2{
  text-align: center;
}
.intro img {
  float: right;
  margin: 5px 5px 5px 5px;
}
body {
   background-image: url(https://subtlepatterns.com/patterns/sayagata-400px.png);
   font-family: sans-serif;
}
.logo-format {
  width: 25px;
}
@media screen and (max-width: 991px) {
  .intro p {
    word-wrap: break-word;
    text-align: center;
  }
}
